apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress 
spec:
  rules:
    - host: <tu-dominio> 
      http:
        paths:
          - path: /api/*
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 8080 